<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="demo">
    <p>简单文本</p>
    <input v-model="message" placeholder="edit me">
    <p>Message is: {{ message }}</p>
    <p>多行文本</p>
    <span>Multiline message is:</span>
    <p style="white-space: pre-line;">{{ multiMessage }}</p>
    <br>
    <textarea v-model="multiMessage" placeholder="add multiple lines"></textarea>

    <p>复选框</p>
    <input type="checkbox" id="checkbox" v-model="checked">
    <label for="checkbox">{{ checked }}</label>


</div>

<div id='example-3'>
    <p>多个复选框</p>
    <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
    <label for="jack">Jack</label>
    <input type="checkbox" id="john" value="John" v-model="checkedNames">
    <label for="john">John</label>
    <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
    <label for="mike">Mike</label>
    <br>
    <span>Checked names: {{ checkedNames }}</span>
</div>
<div id="example-4">
    <p>单选按钮</p>
    <input type="radio" id="one" value="One" v-model="picked">
    <label for="one">One</label>
    <br>
    <input type="radio" id="two" value="Two" v-model="picked">
    <label for="two">Two</label>
    <br>
    <span>Picked: {{ picked }}</span>
</div>

<div id="example-5">
    <p>选择框</p>
    <select v-model="selected">
        <option disabled value="">请选择</option>
        <option>A</option>
        <option>B</option>
        <option>C</option>
    </select>
    <span>Selected: {{ selected }}</span>
</div>
<div id="example-6">
    <p>多选时 (绑定到一个数组)：</p>
    <select v-model="selected" multiple style="width: 50px;">
        <option>A</option>
        <option>B</option>
        <option>C</option>
    </select>
    <br>
    <span>Selected: {{ selected }}</span>
</div>
</body>
<script>
    var vm = new Vue({
        el:"#demo",
        data:{
            message:"simple",
            multiMessage:"multi",
            checked:true
        }
    });
    new Vue({
        el: '#example-3',
        data: {
            checkedNames: []
        }
    });
    new Vue({
        el: '#example-4',
        data: {
            picked: ''
        }
    });
    new Vue({
        el: '#example-5',
        data: {
            selected: ''
        }
    });
    new Vue({
        el: '#example-6',
        data: {
            selected: []
        }
    })
</script>
</html>